* {
    margin: 0;
    padding: 0;

}

#root {
    display: flex;
    justify-content: center;
}

.app {
    width: 800px;
}

.post {
    display: flex;
    padding: 16px;
    border: 2px solid teal;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}